<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044862267047-v1hghm2mjao1fsg3te4pbp1jfl9bfeic.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044862267047-v1hghm2mjao1fsg3te4pbp1jfl9bfeic</string>
	<key>API_KEY</key>
	<string>AIzaSyBk3mBVxAl4LzBANjyvtuicnHZsI1vEr4g</string>
	<key>GCM_SENDER_ID</key>
	<string>1044862267047</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.walaaCustomer.walaaCustomer</string>
	<key>PROJECT_ID</key>
	<string>walaa-29e31</string>
	<key>STORAGE_BUCKET</key>
	<string>walaa-29e31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044862267047:ios:d063558909a2034e3b7582</string>
</dict>
</plist>